* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: #111;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 48px;
  padding-left: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(30px);
  border-bottom: 1px solid #eee;
  z-index: 100;
}

.logo {
  font-weight: 700;
  font-size: 18px;
}

.navbar a {
  position: relative;
  width: 100px;
  text-align: center;
  color: #111;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid rgb(40, 81, 81);
  padding: 8px 14px;
  border-radius: 10px;
  transition:
    color 0.3s ease,
    background 0.3s ease,
    transform 0.25s ease;
}

/* Hover effect */
.navbar a:hover {
  color: #1e1a10;
  background: linear-gradient(
    135deg,
    rgba(33, 24, 17, 0.08),
    rgba(60, 51, 14, 0.18)
  );
  transform: translateY(-2px);
}

/* Glow line */
.navbar a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 4px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #3c330e, #211811);
  border-radius: 4px;
  transform: translateX(-50%);
  transition: width 0.35s ease;
}

.navbar a:hover::after {
  width: 70%;
}

/* LINKS WRAPPER */
.nav-links {
  display: flex;
  gap: 32px;
}

/* BURGER */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 24px;
  height: 2px;
  background: #111;
  transition: 0.3s;
}

/* Burger animation */
.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* SECTION BASE */
.section {
  min-height: 100vh;
  padding: 160px 60px;
  opacity: 0;
  transform: translateX(-120px);
  transition: all 1s ease-out;
}

.section.show {
  opacity: 1;
  transform: translateX(0);
}

.feature,
.project {
  opacity: 0;
  transform: translateX(-80px);
  transition: all 0.8s ease-out;
  margin-bottom: 20px;
}

.section.show .feature,
.section.show .project {
  opacity: 1;
  transform: translateX(0);
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar {
    padding-left: 24px;
  }

  .burger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 72px;
    width: 90%;
    left: 20px;
    background: rgba(255, 255, 255, 0.96);
    backdrop-filter: blur(30px);
    border-radius: 18px;
    
    padding: 20px;
    flex-direction: column;
    gap: 16px;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-12px);
    transition: 0.3s ease;
  }

  .nav-links.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .navbar a {
    width: 140px;
    font-size: 16px;
  }
}
